* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}
/*
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: red;
  color: rgba(255, 255, 255, 0.87);
  background-color: lightblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*/
.events {
  padding: 0px;
  padding-top: 15px;
  background-color: #d9ede8;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: 75%;
  gap: 20px;
  justify-content: center;
}

.event {
  background-color: white;
  border: 2px grey solid;
  margin-top: 0px;
  padding: 0px;
}
.ev-details {
  padding-bottom: 0px;
  padding-right: 0px;
  margin: 0 auto;
  padding: 10px;
  padding-right: 0px;
  border-left: 2px black solid;
}
.up {
  border: 1px grey solid;
  background-color: MintCream;
  margin: 0px;
  padding: 10px;
  position: relative;
}
.up:hover {
  background-color: rgb(224, 224, 224);
}
.down {
  border: 1px grey solid;
  margin: 0px;
}
.mid {
  background-color: Gainsboro;
  border: 1px grey solid;
  margin: 0px;
}
.title {
  color: black;
  /*font-size: 35px;
  font-size: clamp(30px, 1vw, 5px);*/
  font-size: 25px;
  margin-left: 12px;
}
.pich {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
/*
.seeMoreBt {
  width: 180px;
}
.seeMore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
}S
*/
.seeMoreBt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.seeMore {
  display: flex;
  align-items: center;
  padding: 0px;
}

.location h6 {
  font-size: 14px;
  margin-left: 0px;
  padding-left: 10px;
  margin-right: 0px;
  padding-right: 0px;
  text-decoration: none;
  color: black;
  width: fit-content;
}

.icon {
  margin-left: 10px;
  padding-right: 2px;
  width: 17px;
  height: 17px;
}
.owner {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 0px;
  height: fit-content;
}
.owner h5 {
  width: fit-content;
}
.owner h6 {
  width: fit-content;
  margin-left: 0px;
  padding-left: 0px;
}
.vertical-line {
  max-width: 1px;
  height: 100px; /* Adjust the height as needed */
  background-color: black;
}

.day {
  color: red;
  font-size: 30px;

  margin: 0 auto;
  padding: 0;
  text-align: center;
  /*letter-spacing: -3px;*/
}

.month {
  color: red;
  font-size: 15px;

  margin: 0;
  padding: 0;
}

.year {
  color: red;
  font-size: 20px;

  font-weight: bold;
  padding-left: 5px;
  margin: 0 auto;
}
.date {
  padding: 0px;
  margin: auto;
  text-align: center;
  line-height: 1;
  border-right: 2px solid black;

  /*
  background-color: antiquewhite;
  border-top: 5px solid red;
  border-bottom: 5px double #ff6550;
  */
  width: fit-content;
}

.type {
  text-align: center;
  border: 1px grey solid;
  padding: 5px;
}
.middle {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
*/

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #d9ede8;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.small-container {
  max-width: 100%;
}
.topo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  color: black;
}
/*
.toggle-button .navbar-toggler-icon {
  color: white; Change the color to your desired color 
}
*/
.navbar {
  background-color: HoneyDew;
  background-color: lightblue;
}
.categories {
  display: flex;

  margin: 0px;
  padding: 0px;
  width: auto;
  height: fit-content;
}

.category {
  margin-bottom: 0;
  margin-left: 15px;
  flex-basis: auto;
  color: white;
  font-weight: 600;
  background-color: rgb(41, 183, 129);
  padding: 7px; /* Adjust the spacing between categories */
  width: fit-content;
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  letter-spacing: 1px;
}

.humburger {
  width: 50px;
  height: 50px;
  margin-bottom: 100px;
}
.toggle {
  width: 50px;
  height: 50px;
}

.catego {
  border-bottom: 1px solid #000000;
  padding-left: 10px;
}
.catego:hover {
  background-color: lightblue;
}

/*
.humburger {
  background-color: green;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}

.humburger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition: all 0.3s ease;
}

.humburger span:nth-child(1) {
  top: 0;
}

.humburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.humburger span:nth-child(3) {
  bottom: 0;
}
*/
/*
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/
/*
.navbar-cont {
  display: flex;
  justify-content: space-around;
}

.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.2s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

.humburger {
  width: 50px;
  height: 50px;

  margin-right: 100px;
}
.threelines {
  height: fit-content;
}
*/
.topSp {
  margin: 0 auto;
  padding: 10px;
  padding-top: 0px;
  background-color: whitesmoke;
}
.head {
  /*
  border-top: 5px double black;
  border-bottom: 5px double black;
  */
  border-bottom: 5px solid black;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: white;
  text-align: center;
}
.mainimg {
  margin: 0 auto;
  padding: 10px;
  background-color: whitesmoke;
}

.right {
  padding-top: 20px;
}
.left {
  padding: 10px;
}
.left .infoline:last-child {
  border-bottom: 2px solid black;
}
.titleSp {
  font-size: 20px;
  background-color: white;
  font-weight: bold;
}
.infoline {
  border-top: 2px solid black;
  /*
  border-bottom: 1px solid black;
  */
  padding: 12px;
  padding-bottom: 0px;
  transition: background-color 0.9s ease;
}
.infoline:hover {
  background-color: #d3eaff;
}
.infotitle {
  font-weight: bolder;
  margin-left: -15px;
  margin-top: 1px;
}
.info {
  font-size: 14px;
  font-weight: 300;
  padding: 5px;
  margin-left: 40px;
  margin-top: 5px;
}
.iconSp {
  margin-left: 15px;
  padding-right: 2px;
  width: 20px;
  height: 20px;
}
.BigiconSp {
  margin-left: 10px;
  margin-top: 4px;
  padding-right: 0px;
  width: 25px;
  height: 25px;
}
.Biginfotitle {
  margin: 0px;
  padding-left: 10px;
}
.time {
  padding-top: 20px;
  padding: 0;
  width: fit-content;
  margin: 10px auto;
}
.dateSp {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  text-align: center;
  line-height: 1;
  border-top: 2px solid red;
  border-bottom: 2px double red;
}
.daySp {
  color: red;
  font-size: 60px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  letter-spacing: -5px;
}

.det {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(245, 252, 253);
  padding: 20px;
}
.typedet {
  font-size: 25px;
  border: 1px grey solid;
  margin: 0;
}
.register {
  padding-top: 20px;
  padding: 0;
  margin: 10px auto;
}
@media screen and (max-width: 1000px) {
  .events {
    width: 100%;
  }
  /*.title {
    font-size: 30px;
  }
  */
}
/*
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  */

#myImg {
  cursor: pointer;
  transition: 0.3s;
  margin: auto auto;
  height: 110%;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 100px;
  right: 30px;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.scroll-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
  background-color: #ebebeb;
  padding: 10px;
}
.gallery-col {
  width: fit-content;
  padding: 10px;
  margin-right: 30px;
}
.galleryimg {
  width: 300px;
  height: auto;
}

.map {
  width: 100%;
  border: 0;
  height: 40vw;
  margin: 0 auto;
  background-color: black;
}
/*timeline css*/
.timeleinespace {
  padding: 10px;
  margin: 0 auto;
}

.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: inherit;
  }
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
  padding-left: 40px;
  position: relative;
  &:last-child {
    padding-bottom: 0;
  }
}

/*----- TIMELINE INFO -----*/

.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/

.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
  &:before {
    background: #ff6b6b;
    border: 3px solid transparent;
    border-radius: 100%;
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  &:after {
    content: '';
    width: 3px;
    background: #ccd5db;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
  }
  .timeline-item:last-child &:after {
    content: none;
  }
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #ff6b6b;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
  padding-bottom: 40px;
  p:last-child {
    margin-bottom: 0;
  }
}

.timeline-centered {
  @media (min-width: 992px) {
    &,
    .timeline-item,
    .timeline-info,
    .timeline-marker,
    .timeline-content {
      display: block;
      margin: 0;
      padding: 0;
    }
    .timeline-item {
      padding-bottom: 40px;
      overflow: hidden;
    }
    .timeline-marker {
      position: absolute;
      left: 50%;
      margin-left: -7.5px;
    }
    .timeline-info,
    .timeline-content {
      width: 50%;
    }
    > .timeline-item:nth-child(odd) .timeline-info {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    > .timeline-item:nth-child(odd) .timeline-content {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    > .timeline-item:nth-child(even) .timeline-info {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    > .timeline-item:nth-child(even) .timeline-content {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    > .timeline-item.period .timeline-content {
      float: none;
      padding: 0;
      width: 100%;
      text-align: center;
    }
    .timeline-item.period {
      padding: 50px 0 90px;
    }
    .period .timeline-marker:after {
      height: 30px;
      bottom: 0;
      top: auto;
    }
    .period .timeline-title {
      left: auto;
    }
  }
}
/*ribbon */
.ribbon {
  width: 80px;
  font-size: 20px;
  padding: 4px;
  position: absolute;
  right: -25px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #ff9800;
  background-color: rgb(255, 84, 84);
  color: white;
}
/* slider */
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: '';
  height: auto;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotate(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
  align-items: center;
}

.slide {
  height: auto;
  width: 250px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/*phone*/

.phone {
  color: green;
}

.phonebox {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.phonenbr {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
/*categories screen*/
.categotitle {
  margin-top: 80px;
  padding: 10px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
